body{
    font-family: "Helvetica";
    color: Red;
    background-color: Blue;
    text-shadow: 1px 1px #ff0000;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    text-align: center;
    text-shadow: 1px 1px #ff0000;
}
td, th {
    text-align: center;
    padding: 8px;
}
